<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
      <div class="tabs tabs-icon-only tabs-dark tabs-color-light">

          <a class="tab-item active" href="#">
            <i class="icon ion-ios-home"></i>
            Trang ch
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-compass"></i>
            Khám phá
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-ios-world"></i>
            Thông báo
          </a>
        <a class="tab-item" href="#">
          <i class="icon ion-ios-person"></i>
            Tài khoản
        </a>

      </div>
    </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
      <div class="title">
        <div style="margin-top:2px">
          <img class="header-avatar" src="{{userInfo.profileImg}}">
          <h4 style="display: inline" class="header-avatar-content">{{userInfo.name}}</h4>
          <p class="header-avatar-content">{{userInfo.email}}</p>
        </div>
      </div>
    <ion-content>
      <ion-list class="list-borderless">
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
        <ion-item menu-close ng-click="logout()">
          Đăng xuất
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
