<ion-view title="Đăng kí">
    <ion-content padding="true" class="has-header">
        <form ng-submit="doRegistry()">
            <div class="row responsive-sm">
                <div class="col col-34 col-offset-33">
                    <ion-list>
                        <label class="item item-input">
                            <input type="email" placeholder="Email" ng-required="true" ng-model="loginData.email">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Mật khẩu" ng-required="true" ng-model="loginData.password">
                        </label>
                    </ion-list>
                    <div class="spacer" style="height: 40px;"></div>
                    <button class="button button-block button-outline button-positive" type="submit">Đăng kí</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
