<ion-view>
    <ion-content padding="true" class="has-header">
        <form ng-submit="doRegistry()">
            <div style="height: 50px;"></div>

            <div class="row responsive-sm">
                <div class="col col-34 col-offset-33">
                    <ion-list>
                        <label class="item item-input item-floating-label item-bottom-border">
                            <span class="input-label">Địa chỉ email</span>
                            <input type="email" placeholder="Địa chỉ email" ng-required="true" ng-model="loginData.email">
                        </label>
                        <label class="item item-input item-floating-label item-bottom-border">
                            <span class="input-label">Mật khẩu</span>
                            <input type="password" placeholder="Mật khẩu" ng-required="true" ng-model="loginData.password">
                        </label>
                    </ion-list>
                    <div class="spacer" style="height: 40px;"></div>
                    <button class="button button-block button-energized" type="submit">Đăng kí</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
email