<ion-view title="Bảng tin">
    <ion-content header-shrink scroll-event-interval="5">
        <div style="height: 50px;"></div>

        <div class="list card" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]">
            <div class="item item-body">
                <p>
                    Bacon ipsum dolor amet beef cow pork, picanha sirloin filet mignon alcatra bacon ham.
                    Landjaeger fatback jowl short ribs shoulder sirloin tongue picanha.
                    Boudin tail strip steak shankle, turkey capicola pancetta tongue pork chop drumstick meatloaf.
                    Venison tongue fatback strip steak ribeye kevin, capicola bacon.
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>
