<ion-view view-title="Khám phá" nav-bar-class="bar-dark">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-bell">
            <span class="badge badge-energized" style="position:absolute; top: -1px; left: 20px;">5</span>
        </button>
        <button class="button button-icon icon ion-ios-search-strong">
        </button>
    </ion-nav-buttons>
    <ion-nav-title>
        <button class="button icon-right icon ion-chevron-down button-clear">Khám phá</button>
    </ion-nav-title>
    <ion-content>
        <div style="height: 64px;"></div>

        <h1>Khám phá</h1>
    </ion-content>
</ion-view>