<!--<ion-nav-bar class="bar-positive">-->
    <!--<ion-nav-back-button>-->
    <!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->
<ion-tabs class="tabs-icon-only tabs-dark tabs-color-light">

    <ion-tab title="Bảng tin" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/tab/feed">
        <ion-nav-view name="tab-feed"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Khám phá" icon-on="ion-android-compass" icon-off="ion-android-compass" href="#/tab/explore">
        <ion-nav-view name="tab-explore"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline" class="custom-icon-color">

    </ion-tab>
    <ion-tab title="Thông báo" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" href="#/tab/notification">
        <ion-nav-view name="tab-notification"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Tài khoản" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

</ion-tabs>